/* ==== DETAIL PROGRAM STYLING ==== */

.detail-container {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.detail-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
}

.detail-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.detail-text {
    flex: 1;
    min-width: 300px;
}

.detail-text h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.detail-text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.detail-text ul {
    margin-left: 20px;
}

.detail-image {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.detail-image img {
    width: 100%;
    max-width: 360px;
}

.detail-info {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.8;
}

.detail-info span {
    display: block;
    margin-bottom: 5px;
}

/* BUTTONS */
.detail-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn-primary {
    padding: 12px 32px;
    background: #7418AD;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-secondary {
    padding: 12px 32px;
    background: #ddd;
    color: #000;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: #ccc;
}
.site-footer{text-align:center;padding:28px 0;background:white;margin-top:40px;}